<mat-card class="card mat-elevation-z8">
    <h1 class="heading">Signup Form </h1>
    <form class="form" [formGroup]="registerForm">
        <mat-form-field appearance="outline">
            <mat-label>Name</mat-label>
            <input matInput type="text" formControlName="name" required>
            <mat-error *ngIf="registerForm.get('name')?.hasError('required')"> Name is required</mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Email</mat-label>
            <input matInput type="email" formControlName="email" required>
            <mat-error *ngIf="registerForm.get('email')?.hasError('required')"> Email is required</mat-error>
            <mat-error *ngIf="registerForm.get('email')?.hasError('email')"> Invalid Email</mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Phone</mat-label>
            <input matInput type="number" formControlName="phone" maxlength="10">
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Password</mat-label>
            <input matInput formControlName="password">
        </mat-form-field>
        <ng-select [items]="types" bindLabel="name" bindValue="name" formControlName="type" [readonly]="isReadonly">
        </ng-select>
        <mat-form-field appearance="outline">
            <mat-label>Confirm Password</mat-label>
            <input matInput>
        </mat-form-field>
        <button mat-raised-button color="primary" (click)="signup()">Sign Up</button>
        <p class="signup">Already have an account ? Please <a routerLink="/login">Login</a></p>
    </form>
</mat-card>